@import "~materialize-css/dist/css/materialize.min.css";

nav {
  background-color: #757575;
}

body {
  background-color: #eeeeee;
}

.breadcrumb {
  margin: 0;
}

.about_container {
  margin-top: 25px;
}

.about_internal_container {
  font-size: 120%;
}

.username {
  font-size: 160% !important;
}

.password {
  font-size: 160% !important;
}

.email {
  font-size: 160% !important;
}

.alert {
  padding-top: 155px;
  margin-left: 10px;
  font-size: 120%;
}

.about_btn, .adduser_btn {
  float: left;
  margin-left: 10px;
}

.about_card_btn {
  margin-top: 10px;
}

.adduser_label {
  font-size: 160% !important;
}

.adduser_error {
  color: #ef5350;
  font-size: 115%;
}

.futures_img {
  cursor: pointer;
  max-width: 100%;
  height: 370px !important;
  width: 370px !important;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.adduser_alert {
  padding: 0;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 120%;
}

.label_temperature {
  font-size: 160% !important;
}

.signature {
  font-size: 120% !important;
}

.label_quantity {
  font-size: 160% !important;
}

.label_rich {
  margin-top: 70px;
}

#nav-mobile li a {
  font-size: 120%;
}

.cont_private_label {
  margin-top: 38px;
}

.buy_btn {
  margin-top: 33px;
}

.login_btn {
  float: left;
  margin-left: 10px;
}

.register_btn {
  float: right;
  margin-right: 10px;
}

.login_cont {
  margin-top: 25px;
}

.login_alert {
  padding-top: 155px;
  margin-left: 10px;
  font-size: 120%;
}

.statistics_table_right {
  text-align: right;
}

.statistics_pointer {
  cursor: pointer;
}

.statistics_img {
  cursor: pointer;
  max-width: 100%;
  height: 370px !important;
  width: 370px !important;
}

.weather_img {
  cursor: pointer;
  max-width: 100%;
  height: 370px !important;
  width: 370px !important;
}

.weather_table_right {
  text-align: right;
}

p.simple {
  margin-left: 2.5%;
}
