node_modules
.idea
.git
package-lock.json
!client/build/*
!client/build/
!client/build
/middleware
/models
/routes
/shedule
/app.js
!client/middleware
!client/models
!client/routes
!client/shedule
!client/build
